# Required python packages for fandjango
# Can be installed py "pip install -r requirements.txt"

Django >= 1.9, < 2.0
Jinja2
psycopg2

# Use gunicorn in production
gunicorn
setproctitle

# Fetch covers
beautifulsoup4
Pillow
