# Required python packages for fandjango
# Can be installed py "pip install -r requirements.txt"

Django >= 1.8
django-autoslug
Jinja2
MySQL-python

# Use gunicorn in production
gunicorn
setproctitle
