{% extends "base.html" %}

{% block bodyattrs %} class="who_{{creator.slug}}"{% endblock %}

{% block headextra %}
  <p>Här listas de serier <strong>{{creator}}</strong>
    (<a href="http://seriewikin.serieframjandet.se/index.php/Special:Search?search={{creator}}&amp;go=go"
	title="Sök &quot;{{creator}}&quot; i Seriewikin">Seriewikin</a>,
    <a href="http://sv.wikipedia.org/wiki/Special:Search?search={{creator}}&amp;go=go"
       title="Sök &quot;{{creator}}&quot; i Svenska Wikipedia">wikipedia</a>)
    varit med att skapa som förekommer i mina indexerade
    fantomentidningar.</p>
{% endblock %}

{%- block maincontent -%}
  {%- if articles -%}
  <div class="main readmore">
    <h2>Läs mer</h2>
    {%- for article in articles %}
    <div class="article"><h3>{{article}}</h3>
      {%- set by = article.creators.all() -%}
      {%- if by %}
      <p class="i">Av
          {%for c in by%}{%if not loop.first%}{%if loop.last%} &amp; {%else%}, {%endif%}{%endif%}<a href="{{c.get_absolute_url()}}">{{c}}</a>{%endfor%}.</p>
      {%endif%}
      <p class="i">Publicerad i
	{%- for i in article.publication_set.all() %}
	<a href="/{{i.issue.year}}#i{{i.issue.number}}">{{i.issue}}</a>
	{%- endfor -%}.</p>
      {%- if article.note %}
      <p class="i note">{{article.note}}</p>
      {%- endif -%}
    </div>
    {%- endfor -%}
  </div>
  {%- endif -%}

  {%- if episodes %}
  <div class="main">
    <h2>Episoder</h2>
    
  {%- for ep in episodes %}
    <div class="episode">
      <h3><strong><a href="/{{ep.title.slug}}">{{ep.title}}</a>{%if ep.episode%}: {{ep.episode}}{%endif%}</strong>{%if ep.part_no%} del {{ep.part_no}}{%endif%}{%if ep.part_name%}: {{ep.part_name}}{%endif%}</h3>
      {%- if ep.teaser %}
      <p class="teaser">{{ep.teaser}}</p>
      {%- endif -%}
      {%- if ep.note %}
      <p class="i note">{{ ep.note }}</p>
      {%- endif -%}
      {{origtitle(ep.orig_name)}}
      {%- set refs = ep.ref_keys.all() -%}
      {%- if refs %}
      <p class="i">Referenser: {{linklist(refs)}}.</p>
      {%- endif -%}
      {%- set by = ep.by() -%}
      {%- if by %}
      <p class="i">
	{%- for r, ccs in by -%}
	{{r}} {%for slug, name in ccs%}{%if not loop.first%}{%if loop.last%} &amp; {%else%}, {%endif%}{%endif%}<a href="/who/{{slug}}">{{name}}</a>{%endfor%}{%if not loop.last%}, {%endif%}{%endfor%}.</p>
      {%- endif -%}
      {%- if ep.firstpub %}
      <p class="i pub">Först publicerad {{
	ep.firstpub.strftime('%-d %b %Y')}}.</p>
      {%- endif -%}
      {%- if ep.daystrip %}
      <p class="i strip">{{ep.daystrip}}</p>
      {%- endif -%}
      {% set pub = ep.publication_set.all() -%}
      {%- if pub %}
      <p class="i pub">Publicerad i {{publist(pub)}}.</p>
      {%- endif -%}
      {%- if ep.copyright %}
        <p class="i copyright">Copyright {{ep.copyright}}</p>
      {%- endif -%}
    </div>
  {%- endfor -%}
  </div>
  {%- endif -%}

  {%- if writtenarticles %}
  <div class="main">
    <h2>Artiklar av {{pagetitle}}</h2>
    {% for article in writtenarticles %}
    <div class="article">
      <h3>{{article}}</h3>
      {%- set by = article.creators.all() -%}
      {%- if by %}
        <p class="i">Av
          {%for c in by%}{%if not loop.first%}{%if loop.last%} &amp; {%else%}, {%endif%}{%endif%}<a href="{{c.get_absolute_url()}}">{{c}}</a>{%endfor%}.</p>
      {%endif%}
      <p class="i">Publicerad i
	{% for i in article.publication_set.all() %}
	<a href="/{{i.issue.year}}#i{{i.issue.number}}">{{i.issue}}</a>{% endfor %}.</p>
      {%if article.note%}<p class="i note">{{article.note}}</p>{%endif%}
    </div>
    {% endfor %}
  </div>
  {%- endif -%}

  {%- if xcred %}
  <div class="main">
    <h2>Medverkat som {{xroles}} i</h2>
    {%- for title in xcred %}
    <div class="episode">
      <h3><strong><a href="/{{title.slug}}">{{title}}</a></strong></h3>
      <ul>
      {%- for e in xcred[title] %}
      <li>{{e.episode}}, <small>{{publist(e.publication_set.all())}}</small>
      {%- endfor -%}
      </ul>
    </div>
    {%- endfor -%}
  </div>
  {%- endif -%}
{%- endblock -%}
