{% extends "base.html" %}

{% block bodyattrs %} class="t_{{title.slug}}"{% endblock %}

{%- block headextra -%}
  <p>Här listas de gånger serien <strong>{{title}}</strong>
    (<a href="http://seriewikin.serieframjandet.se/index.php/Special:Search?search={{title}}&amp;go=go"
	title="Sök &quot;{{title}}&quot; i Seriewikin">Seriewikin</a>,
    <a href="http://sv.wikipedia.org/wiki/Special:Search?search={{title}}&amp;go=go"
       title="Sök &quot;{{title}}&quot; i Svenska Wikipedia">wikipedia</a>)
    förekommer i mina indexerade fantomentidningar.</p>

  {%- if havestrips or havesundays -%}
  <p>Du kan lista serierna efter
    <a href="/{{title.slug}}">publikation i Fantomentidningen</a>
    {%- if havestrips %} eller efter originalpublicerig som
    <a href="/weekdays-{{title.slug}}">dagstripp</a>
    {%- endif -%}
    {%- if havesundays %} eller
    <a href="/sundays-{{title.slug}}">söndagssidor</a>
    {%- endif %}
    (så långt iformation om ursprungspublicering finns med i indexet).</p>
  {%- endif -%}
{%- endblock -%}

{%- block maincontent -%}
  {%- if articles -%}
  <div class="main readmore">
    <h2>Läs mer</h2>
    {% for article in articles -%}
    <div class="article"><h3>{{article}}</h3>
      {%- set by = article.creators.all() -%}
      {%- if by %}
        <p class="i">Av{{' '}}
          {%- for c in by -%}
            {%- if not loop.first -%}
              {%- if loop.last %} &amp; {% else %}, {% endif -%}
            {%- endif -%}
            <a href="{{c.get_absolute_url()}}">{{c}}</a>
          {%- endfor -%}
          .</p>
      {%- endif %}
      <p class="i">Publicerad i {{publist(article.publication_set.all())}}.</p>
      {%- if article.note %}
      <p class="i note">{{article.note}}</p>
      {%- endif -%}
    </div>
    {%- endfor -%}
  </div>
  {%- endif %}

  <div class="titleMain">
    <h2>Publicerade episoder</h2>

    {%- if pages -%}
    <p class="pagination">Sidor:
      {% for p in pages -%}
      <a href="/{{title.slug}}?page={{p}}">{{p}}</a>
      {%- if loop.last %}.{% else %}, {% endif -%}
      {%- endfor -%}
    </p>
    {%- endif -%}
    
    {%- for ep in episodes.all() %}
    <div class="episode"><h3>
	{%- if not ep.episode and not ep.part_no and not ep.part_name -%}
	  {{ep.title}}
	{%- endif -%}
	{%- if ep.episode -%}
	  <strong>{{ep.episode}}</strong>
	{%- endif -%}
	{%- if ep.part_no %} del {{ep.part_no}}{% endif -%}
	{%- if ep.part_name%}: {{ep.part_name}}{% endif -%}
      </h3>
      {%- if ep.teaser %}
        <p class="teaser">{{ep.teaser}}</p>
      {%- endif -%}
      {%- if ep.note %}
        <p class="i note">{{ ep.note }}</p>
      {%- endif -%}
      {%- set refs = ep.ref_keys.all() -%}
      {%- if refs -%}
        <p class="i">Referenser: {{linklist(refs)}}.</p>
      {%- endif -%}
      {%- set by = ep.by() -%}
      {%- if by %}
        <p class="i">
	  {%- for r, ccs in by -%}
	    {{r}}{{' '}}
	    {%- for slug, name in ccs -%}
	      {%- if not loop.first -%}
	        {%- if loop.last%} &amp; {% else %}, {% endif -%}
	      {%- endif -%}
	      <a href="/who/{{slug}}">{{name}}</a>
	    {%- endfor -%}
	    {%- if not loop.last%}, {%endif -%}
	  {%- endfor -%}
	  .</p>
      {%- endif -%}
      {{origtitle(ep.orig_name)}}
      {%- if ep.firstpub %}
        <p class="i pub">Först publicerad {{
	  ep.firstpub.strftime('%-d %B %Y')}}.</p>
      {%- endif -%}
      {%- if ep.daystrip %}
        <p class="i strip">{{ep.daystrip}}</p>
      {%- endif -%}
      {%- set pub = ep.publication_set.all() -%}
      {%- if pub %}
        <p class="i pub">Publicerad i {{publist(pub)}}.</p>
      {%- endif -%}
      {%- if ep.copyright %}
        <p class="i copyright">Copyright {{ep.copyright}}.</p>
      {%- endif %}
    </div>
    {%- endfor -%}
  </div>
{% endblock %}
