<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>{% block title %}{{pagetitle}}{% if not frontpage %} -
    Rasmus Fantomenindex{% endif %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="shortcut icon" href="/static/goda-16.png" />
    <link rel="apple-touch-icon" href="/static/goda-64.png" />
  </head>
  
  <body{% block bodyattrs %}{% endblock %}>
    <div class="main head">
      {% if not frontpage %}
        <p class="topnav"><a href="/">Rasmus Fantomenindex</a>:</p>
      {% endif %}
      <h1>{%block pagetitle%}{{pagetitle}}{%endblock%}</h1>
      {% block headextra %}{% endblock %}
    </div>
    {% block maincontent %}
    {% endblock %}

    <div class="main footer">
      <hr/>
      <a class="sc" href="http://schapter.org/"><img
         alt="Scandinavian Chapter of the Lee Falk Memoriak Bengali Explorers Club"
	 src="/static/sc-logo-small.png" width="131" height="131"/></a>
      <p class="legalstuff">Den svenska Fantomentidningen ges ut av
      Egmont Publishing, redaktör är Mikael Sol.
      Fantomen © King Features Syndicate Inc.
      Dessa sidor är gjorda av
      <a href="http://rasmus.krats.se/RasmusKaj">Rasmus Kaj</a> och
      fritt tillgängliga.
      Omslagsbilder ägs av sina tecknare / förlag, och presenteras här genom
      <a href="http://www.seriesam.com">seriesam.com</a>.</p>
    </div>
  </body>
</html>
