<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{headtitle}}</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css"/>
  </head>
  
  <body>
    <p class="topnav"><a href="/">Fantomenindex</a>{% block extranav %}{% endblock %}</p>
    <h1>{{pagetitle}}</h1>

    {% block maincontent %}
    <h1>{{headtitle}}</h1>
    {% endblock %}
  </body>
</html>
