{% extends "base.html" %}

{% block maincontent %}
  {% if articles %}
  <div class="refMain">
    <h2>Läs mer</h2>
    {% for article in articles %}
    <div class="article">
      <h3>{{article}}</h3>
      <p class="i">Publicerad i
	{% for i in article.publication_set.all %}
	<a href="/{{i.issue.year}}#i{{i.issue.number}}">{{i.issue}}</a>{% endfor %}.</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="refMain">
    <h2>Relaterade episoder</h2>
    
  {% for x in episodes %}
    <div class="episode">
	<h3><a href="/{{x.title.slug}}">{{x.title}}</a>{% if x.episode or x.part_no %}:
	  {{x.episode}}{% if x.part_no %}
	  <span class="part">del {{x.part_no}}{% if x.part_name %}:
	  {{x.part_name}}{% endif %}</span>{% endif %}
	  {% endif %}
	</h3>
	{% if x.teaser %}
	<p class="teaser">{{x.teaser}}</p>
	{% endif %}
	{% if x.ref_keys.all %}
	  <p class="i">Referenser:
	  {% for r in x.ref_keys.all %}
	  <a href="/what/{{r.slug}}">{{r}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
	{% endif %}
      <p class="i">Av:
	{% for c in x.creativepart_set.all %}
	<a href="/who/{{c.creator.slug}}">{{c.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
      <p class="i">Publicerad i
	{% for i in x.publication_set.all %}
	<a href="/{{i.issue.year}}#i{{i.issue.number}}">{{i.issue}}</a>{% endfor %}.</p>
    </div>
  {% endfor %}
  </div>
{% endblock %}
