{% extends "base.html" %}
{% load libris_extras %}

{% block maincontent %}
  {% if articles %}
  <div class="refMain">
    <h2>Läs mer</h2>
    {% for article in articles %}
    <div class="article">
      <h3>{{article}}</h3>
      <p class="i">Publicerad i
	{% for i in article.publication_set.all %}
	<a href="/{{i.issue.year}}#i{{i.issue.number}}">{{i.issue}}</a>{% endfor %}.</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="refMain">
    <h2>Relaterade episoder</h2>
    
  {% for ep in episodes %}
    <div class="episode">
      <h3><strong><a href="/{{ep.title.slug}}">{{ep.title}}</a>{%if ep.episode%}: {{ep.episode}}{%endif%}</strong>{%if ep.part_no%} del {{ep.part_no}}{%endif%}{%if ep.part_name%}: {{ep.part_name}}{%endif%}</h3>
      {% if ep.teaser %}<p class="teaser">{{ep.teaser}}</p>{% endif %}
      {% with ep.ref_keys.all as refs %}
	{% if refs %}<p class="i">Referenser: {{refs|linklist}}.</p>{% endif %}
      {% endwith %}
      {%with ep.by as by%}{%if by%}
      <p class="i">{%for r, ccs in ep.by%}
	{{r}} {%for slug, name in ccs%}{%if not forloop.first%}{%if forloop.last%} &amp; {%else%}, {%endif%}{%endif%}<a href="/who/{{slug}}">{{name}}</a>{%endfor%}{%if not forloop.last%}, {%endif%}{%endfor%}.</p>
      {%endif%}{%endwith%}
      {% with ep.publication_set.all as pub %}
	{% if pub %}<p class="i">Publicerad i {{pub|linklist}}.</p>{% endif %}
      {% endwith %}
    </div>
  {% endfor %}
  </div>
{% endblock %}
