{% extends "base.html" %}

{% block maincontent %}
  <div class="main">
    <h2>Årgångar</h2>
    <div class="article">
    {% for year in years %}
    <a href="{{year}}">{{year}}</a>,
    {% endfor %}
    </div>
  </div>
  <div class="main">
    <h2>Serier</h2>
    <div class="article">
      {% for title in titles %}
      <a href="{{title.slug}}">{{title}}</a>,
      {% endfor %}
    </div>
  </div>
  <div class="main">
    <h2>Personer och företeelser i Fantomens värld</h2>
    <div class="article cloud">
      {% for ref in refs %}
      <a class="c{{ref.episode__count}}" href="what/{{ref.slug}}">{{ref}}</a>,
      {% endfor %}
    </div>
  </div>
  <div class="main">
    <h2>Serieskapare</h2>
    <div class="article cloud">
      {% for p in people %}
      <a class="c{{p.creativepart__count}}" href="who/{{p.slug}}">{{p}}</a>,
      {% endfor %}
    </div>
  </div>
{% endblock %}
