{% extends "base.html" %}
{% load libris_extras %}

{% block maincontent %}
  {% if articles %}
  <div class="refMain">
    <h2>Läs mer</h2>
    {% for article in articles %}
    <div class="article">
      <h3>{{article}}</h3>
      <p class="i">Publicerad i {{article.publication_set.all|linklist}}.</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="refMain">
    <h2>Relaterade episoder</h2>
    
  {% for ep in episodes %}
    <div class="episode">
      <h3><strong><a href="/{{ep.title.slug}}">{{ep.title}}</a>{%if ep.episode%}: {{ep.episode}}{%endif%}</strong>{%if ep.part_no%} del {{ep.part_no}}{%endif%}{%if ep.part_name%}: {{ep.part_name}}{%endif%}</h3>
      {% if ep.teaser %}<p class="teaser">{{ep.teaser}}</p>{% endif %}
      {% with ep.ref_keys.all as keys %}
	{% if keys %}<p class="i">Referenser: {{keys|linklist:"/what/"}}.</p>{% endif %}
      {% endwith %}
      {% with ep.creativepart_set.all as creators%}
	{% if creators %}<p class="i">Av: {{creators|linklist:"/who/"}}.</p>{% endif %}
      {% endwith %}
      {% with ep.publication_set.all as pub %}
	{% if pub %}<p class="i">Publicerad i {{pub|linklist}}.</p>{% endif %}
      {% endwith %}
    </div>
  {% endfor %}
  </div>
{% endblock %}
