{% extends "base.html" %}

{% block headextra %}
  <p>Här listas de olika serier som har gått i den svenska Fantomen­tidningen.
  Du kan sortera listan i bokstavsordning, efter antal
  publicerade episoder, första eller senaste publiceringsår.</p>
{% endblock %}

{% block maincontent %}
  <script type="text/javascript" src="/static/sorttable.js" async></script>
  <div class="main">
    <h2>Serier</h2>
    <table class="titles sortable">
      <thead>
	<tr><th>Serie<th>Antal<th>Först<th>Senast</tr>
      </thead>
      <tbody>
	{% for title in titles %}
	<tr><td><a href="{{title.slug}}">{{title}}</a>
	  <td>{{title.episode__count}}
	  <td>{{title.first}}
	  <td>{{title.latest}}
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
