{% extends "base.html" %}
{% load libris_extras %}

{% block maincontent %}
  <div class="titleMain">
    <h2>Publicerade episoder</h2>
    
    {% for ep in episodes.all %}
    <div class="episode">
      <h3>{{ep.episode}}{% if ep.part_no %}
      <span class="part">del {{ep.part_no}}{% if ep.part_name %}: {{ep.part_name}}{% endif %}</span>{% endif %}</h3>
      <p class="teaser">{{ep.teaser}}</p>
      {% with ep.ref_keys.all as refs %}
	{% if refs %}<p class="i">Referenser: {{refs|linklist:"/what/"}}.</p>{% endif %}
      {% endwith %}
      {% with ep.creativepart_set.all as creators%}
	{% if creators %}<p class="i">Av: {{creators|linklist:"/who/"}}.</p>{% endif %}
      {% endwith %}
      {% with ep.publication_set.all as pub %}
	{% if pub %}<p class="i">Publicerad i {{pub|linklist}}.</p>{% endif %}
      {% endwith %}
    </div>
    {% endfor %}
  </div>
{% endblock %}
