{% extends "base.html" %}
{% load libris_extras %}

{% block extranav %}
 ...
 {% for y in navyears %}
     <a href="{{y}}">{{y}}</a>
     ...
 {% endfor %}
{% endblock %}

{% block maincontent %}
    {% for issue in issues %}
    <div class="issue" id="i{{issue.number}}">
      <h2>Nummer {{issue.number}}</h2>
      {% for x in issue.contents %}
      {% with x.episode as ep %}{% if ep %}
      <div class="episode">
	<h3><strong><a href="/{{ep.title.slug}}">{{ep.title}}</a>{%if ep.episode%}: {{ep.episode}}{%endif%}</strong>{%if ep.part_no%} del {{ep.part_no}}{%endif%}{%if ep.part_name%}: {{ep.part_name}}{%endif%}</h3>
	{% if ep.teaser %}<p class="teaser">{{ep.teaser}}</p>{% endif %}
	{% if ep.note %}<p class="i note">{{ ep.note }}</p>{% endif %}
	{% origtitle ep.orig_name %}
	{% with ep.ref_keys.all as refs %}
	  {% if refs %}<p class="i">Referenser: {{refs|linklist}}.</p>{% endif %}
	{% endwith %}
	{%with ep.by as by%}{%if by%}
	  <p class="i">{%for r, ccs in ep.by%}
	    {{r}} {%for slug, name in ccs%}{%if not forloop.first%}{%if forloop.last%} &amp; {%else%}, {%endif%}{%endif%}<a href="/who/{{slug}}">{{name}}</a>{%endfor%}{%if not forloop.last%}, {%endif%}{%endfor%}.</p>
	{%endif%}{%endwith%}
	{% with ep.otherpub as pub %}
	  {% if pub %}<p class="i">Även publicerad i {{pub|linklist}}.</p>{% endif %}
	{% endwith %}
	{% if ep.copyright %}
	  <p class="i copyright">Copyright {{ep.copyright}}</p>
	{% endif %}
      </div>
      {% endif %}{% endwith %}
      {% if x.article %}
      <div class="article">
	<h3>{{x.article.title}}{% if x.article.subtitle %}: {{x.article.subtitle}}{% endif %}</h3>
	{% if x.article.ref_keys.all %}
	<p class="i">Referenser:
	  {% for r in x.article.ref_keys.all %}
	  <a href="/what/{{r.slug}}">{{r}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.
	</p>
	{% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
