{% extends "base.html" %}

{% block extranav %}
 ...
 {% for y in navyears %}
     <a href="{{y}}">{{y}}</a>
     ...
 {% endfor %}
{% endblock %}

{% block maincontent %}
    {% for issue in issues %}
    <div class="issue" id="i{{issue.number}}">
      <h2>Nummer {{issue.number}}</h2>
      {% for x in issue.publication_set.all %}
      <div class="episode">
	<h3><a href="/{{x.episode.title.slug}}">{{x.episode.title}}</a>{% if x.episode.episode or x.episode.part_no %}:
	  {{x.episode.episode}}{% if x.episode.part_no %}
	  <span class="part">del {{x.episode.part_no}}{% if x.episode.part_name %}:
	  {{x.episode.part_name}}{% endif %}</span>{% endif %}
	  {% endif %}
	</h3>
	{% if x.episode.teaser %}
	<p class="teaser">{{x.episode.teaser}}</p>
	{% endif %}
	{% if x.episode.ref_keys.all %}
	<p class="i">Referenser:
	  {% for r in x.episode.ref_keys.all %}
	  <a href="/what/{{r.slug}}">{{r}}</a>{% if not forloop.last %}, {% endif %}
	  {% endfor %}
	</p>
      {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
