{% extends "base.html" %}
{% load libris_extras %}

{% block bodyattrs %} class="year{{year}}"{% endblock %}

{% block headextra %}
 <p>Närbelägna år:
 {% for y in navyears %}
 {% if y == year %}<strong>{{y}}</strong>{% else %}
  <a href="{{y}}">{{y}}</a>{% endif %}{% if forloop.last %} ...{% else %}, {% endif %}
 {% endfor %}</p>
{% endblock %}

{% block maincontent %}
    {% for issue in issues %}
    <div class="issue" id="i{{issue.number}}">
      <h2>Nummer {{issue.number}}</h2>
      {% if issue.pages %}<p class="price">{{issue.pages}} sidor</p>{% endif %}
      {% if issue.price %}<p class="pages">pris {{issue.price}}</p>{% endif %}
      <p class="cover{%if issue.omslagurl%} withimg{%endif%}">
      {% if issue.omslagurl %}
        <img src="{{issue.omslagurl}}" alt=""/>
      {% endif %}
        {%with issue.cover_by.all as by%}{%if by%}
        <span class="by">Omslag av
          {%for artist in by%}{%if not forloop.first%}{%if forloop.last%} &amp;{%else%},{%endif%}{%endif%}
          <a href="/who/{{artist.slug}}">{{artist}}</a>{%endfor%}.</span>
        {%endif%}{%endwith%}
        {%if issue.cover_best%}
        <span class="bestcover">Nr {{issue.cover_best}} i bästa omslag.</span>
        {%endif%}
      </p>

      {% for x in issue.contents %}
      {% with x.episode as ep %}{% if ep %}
      <div class="episode">
	<h3><strong><a href="/{{ep.title.slug}}">{{ep.title}}</a>{%if ep.episode%}: {{ep.episode}}{%endif%}</strong>{%if ep.part_no%} del {{ep.part_no}}{%endif%}{%if ep.part_name%}: {{ep.part_name}}{%endif%}</h3>
	{% if ep.teaser %}<p class="teaser">{{ep.teaser}}</p>{% endif %}
	{% if ep.note %}<p class="i note">{{ ep.note }}</p>{% endif %}
	{% origtitle ep.orig_name %}
	{% with ep.ref_keys.all as refs %}
	  {% if refs %}<p class="i">Referenser: {{refs|linklist}}.</p>{% endif %}
	{% endwith %}
	{%with ep.by as by%}{%if by%}
	  <p class="i">{%for r, ccs in ep.by%}
	    {{r}} {%for slug, name in ccs%}{%if not forloop.first%}{%if forloop.last%} &amp; {%else%}, {%endif%}{%endif%}<a href="/who/{{slug}}">{{name}}</a>{%endfor%}{%if not forloop.last%}, {%endif%}{%endfor%}.</p>
	{%endif%}{%endwith%}
	{% with ep.otherpub as pub %}
	  {% if pub %}<p class="i pub">Även publicerad i {{pub|linklist}}.</p>{% endif %}
	{% endwith %}
	{% if ep.copyright %}
	  <p class="i copyright">Copyright {{ep.copyright}}</p>
	{% endif %}
	{% if x.is_prev_only %}
          <p class="i prevonly">Denna publicering är känd bara genom
	  att den är nämnd vid en senare publicering.</p>
	{% endif %}
      </div>
      {% endif %}{% endwith %}
      {% if x.article %}
      <div class="article">
	<h3>{{x.article.title}}{% if x.article.subtitle %}: {{x.article.subtitle}}{% endif %}</h3>
	{% if x.article.ref_keys.all %}
	<p class="i">Referenser:
	  {% for r in x.article.ref_keys.all %}
	  <a href="/what/{{r.slug}}">{{r}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.
	</p>
	{% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
